.filter {
    margin-bottom: 15px;
  }
  
  .labelFilter {
    color: #000;
  }
  
  .filterInput {
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #000;

  }